<!DOCTYPE html>
<html ng-app="chatTest" ng-controller="chatController">
	<head>
		<title>{{roomname}}</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		
		<!-- lib js (should probably use bower) -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/socket.io.js"></script>

		<!-- custom js -->
		<script type="text/javascript" src="js/classes.js"></script>
		<script type="text/javascript" src="js/services.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h1 class="text-center">
					Room name:
					<input type="text" value="{{roomname}}" />
					<input type="button" value="Go!" />
					</h1>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">
							{{roomname}}
							</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li ng-repeat="message in messages">{{message.user.name}}: {{message.text}}</li>
								<li class="in-progress" ng-model="currentMessage">{{currentMessage.user.name}}: {{currentMessage.text}}</li>
							</ul>
						</div>
						<div class="panel-footer">
							<form ng-submit="sendMessage()">
								<input type="text" ng-model="localUser.name" ng-change="changeName()">
								<input type="text" ng-model="currentMessage.text" ng-change="typeMessage()" autofocus>
								<input type="submit" value="Send">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>